<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net45" />
  <package id="Autofac.Mvc5" version="4.0.2" targetFramework="net45" />
  <package id="Dapper" version="1.50.2" targetFramework="net45" />
  <package id="IbanNet" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="Sky.CDN" version="1.0.1" targetFramework="net45" />
  <package id="Sky.CMS" version="1.0.7" targetFramework="net45" />
  <package id="Sky.Common" version="1.0.14" targetFramework="net45" />
  <package id="Sky.Core" version="1.0.20" targetFramework="net45" />
  <package id="Sky.Generic" version="1.0.3" targetFramework="net45" />
  <package id="Sky.Log" version="1.0.2" targetFramework="net45" />
  <package id="Sky.Mors" version="1.0.3" targetFramework="net45" />
  <package id="Sky.Ramesses" version="1.0.14" targetFramework="net45" />
  <package id="Sky.Repository" version="1.0.1" targetFramework="net45" />
  <package id="Sky.SuperUser" version="1.0.2" targetFramework="net45" />
</packages>