<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="SuperUserURL" value="https://superuser.rnpreklam.com" />
    <add key="BaseMorsURL" value="https://mors.rnpreklam.com" />
    <add key="CasaBaseURL" value="https://app.rnpreklam.com" />
    <!--<add key="BaseMorsURL" value="http://localhost:1628" />-->

    <!--<add key="CDNBaseURL" value="http://localhost:32352" />-->
    <add key="CDNBaseURL" value="https://cdn.rnpreklam.com" />
    <add key="ContactEmail" value="iletisim@rnpreklam.com" />

  </appSettings>
  <connectionStrings>
    <add name="ConnectionStringCDN" connectionString="Data Source=127.0.0.1; Initial Catalog=RNPReklamCDN; uid=fatihtan; pwd=mssql;" />
    <add name="ConnectionStringCMS" connectionString="Data Source=127.0.0.1; Initial Catalog=RNPReklamCMS; uid=fatihtan; pwd=mssql;" />
    <add name="ConnectionStringSuperUser" connectionString="Data Source=127.0.0.1; Initial Catalog=RNPReklamSuperUser; uid=fatihtan; pwd=mssql;" />
    <add name="ConnectionStringMors" connectionString="Data Source=127.0.0.1; Initial Catalog=RNPReklamMors; uid=fatihtan; pwd=mssql;" />
    <add name="ConnectionStringGeneric" connectionString="Data Source=127.0.0.1; Initial Catalog=RNPReklamGeneric; uid=fatihtan; pwd=mssql;" />
    <add name="ConnectionStringLog" connectionString="Data Source=127.0.0.1; Initial Catalog=RNPReklamLog; uid=fatihtan; pwd=mssql;" />
    <add name="ConnectionStringGLog" connectionString="Data Source=127.0.0.1; Initial Catalog=RNPReklamGLog; uid=fatihtan; pwd=mssql;" />
    <add name="ConnectionStringCore" connectionString="Data Source=127.0.0.1; Initial Catalog=RNPReklamCore; uid=fatihtan; pwd=mssql;" />
    <add name="ConnectionStringRamesses" connectionString="Data Source=127.0.0.1; Initial Catalog=RNPReklamRamesses; uid=fatihtan; pwd=mssql;" />    
  </connectionStrings>
  <system.web>

    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" />
    <trust level="Full" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <authentication mode="Forms">
      <forms name="RNP.SU.AUTH" loginUrl="~/Session/Login" protection="All" timeout="43200" path="/" requireSSL="false" slidingExpiration="true" />
    </authentication>
    <machineKey decryptionKey="" validationKey="" />

  </system.web>

  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="403" path="/Error/Oops?code=403" responseMode="ExecuteURL" />
      <error statusCode="404" path="/Error/Oops?code=404" responseMode="ExecuteURL" />
      <error statusCode="500" path="/Error/Oops?code=500" responseMode="ExecuteURL" />
    </httpErrors>

    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".woff" />

      In case IIS already has this mime type

      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />

      In case IIS already has this mime type

      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>